*{
  font-family: serif;
}
.main{
  min-height:500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.income{
  border-left: 6px solid green;
}
.income:hover{
  border-left: 6px solid rgb(0, 51, 0);
}
.expense,.income{
  min-width: 350px;
  min-height: 40px;
  display: flex;
  margin: 10px;
}
.expense{
  border-left: 6px solid rgb(255, 0, 0);
}
.expense:hover{
  border-left: 6px solid rgb(99, 0, 0);

}
.inc,.exp{
  font-size:22px;
  font-weight:600;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: "auto";
   float: right ;
}
.delete{
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  float: right;
}
.delete:hover{
  animation: swing 1s ease
}
.input{
  font-size: 25px;
  font-weight: 600;
  
  border: none;
  border-bottom: 2px solid black;
  width: 300px;
  margin: auto;
}
.input:hover{
  transition: ease-in-out;
  border-bottom:3px solid rgb(0, 6, 97) ;
}
.input:focus{
  border-bottom:2px solid skyblue;
}
.btn{
  width:300px;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  
  color: aliceblue;
  border: none;
  background: rgb(150,0,81);
background: linear-gradient(90deg, rgba(150,0,81,1) 0%, rgba(113,0,164,1) 74%, rgba(101,0,223,1) 100%);
}
.btn:hover{
  transition: ease-in-out 1s;
  background: rgb(204, 0, 109);
background: linear-gradient(90deg, rgb(209, 0, 112) 0%, rgb(156, 2, 228) 74%, rgba(101,0,223,1) 100%);
}
@keyframes swing{
  0%{
    transform: rotate(20deg);

  }
  25%{
    transform: rotate(-20deg);
  }
   50%{
    transform: rotate(20deg);
  }
   75%{
    transform: rotate(-20deg);
  }
   100%{
    transform: rotate(20deg);
  }
}
